USE [StudentManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHocPhan]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHocPhan](
	[MaDK] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[MaLHP] [nvarchar](10) NOT NULL,
	[NgayDangKy] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[DiemQuaTrinh] [float] NULL,
	[DiemCuoiKy] [float] NULL,
	[DiemTongKet] [float] NULL,
	[KetQua] [nvarchar](20) NULL,
 CONSTRAINT [PK_DangKyHocPhan] PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemSo]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemSo](
	[MaDiem] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[DiemChuyenCan] [float] NULL,
	[DiemGiuaKy] [float] NULL,
	[DiemCuoiKy] [float] NULL,
	[DiemTongKet] [float] NULL,
	[XepLoai] [nvarchar](20) NULL,
 CONSTRAINT [PK_DiemSo] PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime2](7) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[MaKhoa] [nvarchar](10) NULL,
	[HocVi] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHK] [nvarchar](10) NOT NULL,
	[TenHK] [nvarchar](100) NOT NULL,
	[NamHoc] [nvarchar](10) NOT NULL,
	[HocKyThu] [int] NOT NULL,
	[NgayBatDau] [datetime2](7) NOT NULL,
	[NgayKetThuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](200) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](10) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [nvarchar](10) NOT NULL,
	[KhoaHoc] [nvarchar](10) NOT NULL,
	[SiSo] [int] NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLHP] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
	[MaGV] [nvarchar](10) NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[PhongHoc] [nvarchar](50) NOT NULL,
	[SiSoToiDa] [int] NOT NULL,
	[SiSoHienTai] [int] NOT NULL,
 CONSTRAINT [PK_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [nvarchar](10) NOT NULL,
	[TenMH] [nvarchar](200) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[MaKhoa] [nvarchar](10) NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/23/2026 11:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime2](7) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[MaLop] [nvarchar](10) NULL,
	[NamNhapHoc] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260519075958_InitialCreate', N'8.0.25')
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [SoDienThoai], [Email]) VALUES (N'CNTT', N'Công nghệ thông tin', N'0123456789', N'cntt@university.edu.vn')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [SoDienThoai], [Email]) VALUES (N'KINHTE', N'Kinh tế', N'0987654321', N'kinhte@university.edu.vn')
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc], [SiSo]) VALUES (N'CNTT01', N'Công nghệ thông tin 01', N'CNTT', N'K42', 0)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc], [SiSo]) VALUES (N'CNTT02', N'Công nghệ thông tin 02', N'CNTT', N'K42', 0)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc], [SiSo]) VALUES (N'KT01', N'Kinh tế 01', N'KINHTE', N'K42', 0)
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [MaLop], [NamNhapHoc], [TrangThai]) VALUES (N'1256', N'Võ THanh', CAST(N'2002-06-02T00:00:00.0000000' AS DateTime2), N'Nam', N'ádccsdvsdav', N'0369348263', N'agđiagg@gmail.com', N'CNTT01', 2026, 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [MaLop], [NamNhapHoc], [TrangThai]) VALUES (N'SV001', N'Nguyễn Văn A', CAST(N'2002-05-15T00:00:00.0000000' AS DateTime2), N'Nam', N'Hà Nội', N'0912345678', N'nguyenvana@example.com', N'CNTT01', 2020, 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [MaLop], [NamNhapHoc], [TrangThai]) VALUES (N'SV002', N'Trần Thị B', CAST(N'2002-08-20T00:00:00.0000000' AS DateTime2), N'Nữ', N'TP. Hồ Chí Minh', N'0923456789', N'tranthib@example.com', N'CNTT02', 2020, 1)
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHocPhan_LopHocPhan_MaLHP] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DangKyHocPhan_LopHocPhan_MaLHP]
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHocPhan_SinhVien_MaSV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DangKyHocPhan_SinhVien_MaSV]
GO
ALTER TABLE [dbo].[DiemSo]  WITH CHECK ADD  CONSTRAINT [FK_DiemSo_HocKy_MaHK] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemSo] CHECK CONSTRAINT [FK_DiemSo_HocKy_MaHK]
GO
ALTER TABLE [dbo].[DiemSo]  WITH CHECK ADD  CONSTRAINT [FK_DiemSo_MonHoc_MaMH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemSo] CHECK CONSTRAINT [FK_DiemSo_MonHoc_MaMH]
GO
ALTER TABLE [dbo].[DiemSo]  WITH CHECK ADD  CONSTRAINT [FK_DiemSo_SinhVien_MaSV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemSo] CHECK CONSTRAINT [FK_DiemSo_SinhVien_MaSV]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa_MaKhoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Khoa_MaKhoa]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa_MaKhoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa_MaKhoa]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_GiangVien_MaGV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_GiangVien_MaGV]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_HocKy_MaHK] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_HocKy_MaHK]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_MonHoc_MaMH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_MonHoc_MaMH]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_Khoa_MaKhoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_Khoa_MaKhoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop_MaLop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop_MaLop]
GO
